.researches__researche {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    cursor: pointer;

    & img {
        width: 141px;
        height: 141px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0px 0px 14px;
    }
    & p {
        flex: 1 1 auto;
        margin: 0px 0px 10px;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #498783;
    }
}
