.filter {
    display: flex;
    align-items: center;
    position: relative;
    width: 212px;
    height: 50px;
    padding: 11px 25px;
    background: #fff;
    color: #498783;
    border-radius: 50px;
    cursor: pointer;

    &:first-child {
        margin-right: auto;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 1.5px;
        background: #498783;
        top: 50%;
        transform: translate(0%, -50%);
    }
    &::after {
        rotate: 45deg;
        right: 30px;
    }
    &::before {
        rotate: -45deg;
        right: 20px;
    }
}
