@import "../../variable.scss";
.header {
    height: 91px;
    position: relative;
    background-color: $secondary;
    padding: 29px 0px 34px;
    &__row {
        display: flex;
        height: 100%;
    }
    &__logo {
        flex: 0 0 195px;
        width: 195px;
        margin: 0px 60px 0px 0px;
    }
    &__links {
        display: flex;
        flex: 1 1 auto;
        gap: 40px;
        justify-content: flex-end;
    }
    &__link {
        display: flex;
        align-items: center;

        & a {
            position: relative;
            font-size: 20px;
            color: $brand;
            transition: all 300ms ease 0ms;

            &::after {
                transition: all 300ms ease 0ms;
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0px;
                right: 0px;
                top: auto;
                height: 5px;
                background: transparent;
            }
        }

        & a.active {
            &::after {
                background: #769e9c93;
            }
        }
    }
}
