.footer {


    background: #498783;
    ;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.25);
    height: 190px;

    & .container {
        color: #FFF;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        justify-content: center;

        & p {
            margin-bottom: 15px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-right: 30px;
        color: #FFF;
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 75% */
    }

    &__networks {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-right: 30px;
        color: #FFF;
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 75% */
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        color: #FFF;
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 75% */
    }
}